@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    border-radius: 15px;
    box-shadow: 3px 3px 3px;

}
main{
    background-color:#23252d ;
    color: white;
    padding: 20px;
    border-radius: 15px;
}
.results{
    text-align: center;
    background-color: #dedede;
    padding:10px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px;
    border-radius: 10px;
}
.result{
    text-align: center;
    background-color: #dedede;
    color:black;
    padding:10px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #292d36;
    padding: 10px;
    border-radius: 15px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #292d36;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
}
.red{
    color: #f47a79;
}
.terq{
    color: #29f8d3;
}
.orange{
    color: #fb542b;
}


